<div class="member-list-header">
    <h2 class="page-title">Add Money</h2>
  </div>

<div id="app" class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block py-2 align-middle sm:px-6 lg:px-8">
        <div
          class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg text-center"
        >
          <table class="divide-y divide-gray-200">
            <thead>
              <tr>
                <th
                class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-50"
              >
               Sr. no.
              </th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-50"
                >
                  Member Id
                </th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-50"
                >
                  Name
                </th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-50"
                >
                  Monthly amount
                </th>
                <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-50">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let member of membersMoneyArr; let i = index">
                <td
                  class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap"
                >
                  {{ i+1 }}
                </td>
                <td
                  class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap"
                >
                  {{ member.member_id }}
                </td>
                <td
                  class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap"
                >
                {{member.first_name}} {{member.last_name}}
                </td>
                <td
                  class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap"
                >
                <input [(ngModel)]="member.monthly_amount"/>
                </td>
              </tr>
            </tbody>
          </table>

          <a type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">  
            Save Money
          </a>
        </div>
      </div>
    </div>
  </div>